{% extends 'base.html' %}

{% block title %}График работы специалиста{% endblock %}

{% block content %}

  <h1>График работы салона</h1>

  <h2>17.04.2023</h2>

  <table>

    <thead>

    <tr>
      <th>Специалист / Время</th>
      <th>8.00</th>
      <th>8.30</th>
    </tr>

    </thead>

    <tbody>

    <tr>
      <td>Пименова Вероника</td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td>Латвийцева Мария</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    </tbody>
  </table>

{% endblock %}