{% extends 'base.html' %}

{% block title %}График работы специалиста{% endblock %}

{% block content %}

  <h1>График работы специалиста</h1>

  <h2>Пименова Вероника</h2>

  <table>

    <thead>

    <tr>
      <th>Дата / Время</th>
      <th>8.00</th>
      <th>8.30</th>
    </tr>

    </thead>

    <tbody>

    <tr>
      <td>19 апреля 2023 года</td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td>20 апреля 2023 года</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    </tbody>
  </table>

{% endblock %}